<form action="/dogs" method="POST">
  <label for="breed">Breed:</label></br/>
  <input id="breed" name="breed"/><br/>
  <label for="name">Name:</label><br/>
  <input id="name" name="name"/><br/><br/>
  <input type="submit" />

<form>
