<form action="/dogs" method="POST">
  <label for="breed">Breed:</label></br/>
  <input id="breed" name="dog[breed]"/><br/>
  <label for="name">Name:</label><br/>
  <input id="name" name="dog[name]"/><br/><br/>
  <input type="submit" />

<form>
